# https://github.com/ToruNiina/website/blob/f626f586c4fab9476d9bfb871abb895181120d98/config.toml が参考になる
# https://github.com/dillonzq/LoveIt/issues/516 google adsenceやgoogle analystics.
baseURL = "https://direboar.github.io"

# Change the default theme to be use when building the site with Hugo
theme = "LoveIt"

# website title
title = "minokubaのblog"
description = "111"
images = ["minokuba.png"]

# language code ["en", "zh-CN", "fr", "pl", ...]
languageCode = "en" #jaが効かないためenで設定し、enのi18nファイルを書き換えている。
# language name ["English", "简体中文", "Français", "Polski", ...]
languageName = "日本語"

[params]
  # website title for Open Graph and Twitter Cards
  title = "minokubaのblog"
  # website description for RSS, SEO, Open Graph and Twitter Cards
  # description = "ｘｘｘｘｘｘ"
  # website images for Open Graph and Twitter Cards
  images = ["minokuba.png"]

  # Header config
  [params.header]
    # desktop header mode ["fixed", "normal", "auto"]
    desktopMode = "fixed"
    # mobile header mode ["fixed", "normal", "auto"]
    mobileMode = "auto"
    # LoveIt NEW | 0.2.0 Header title config
    [params.header.title]
      # URL of the LOGO
      logo = "https://direboar.github.io/minokuba.png" #タイトル横にロゴをつける
      # title name
      name = "minokubaのblog"
      # you can add extra information before the name (HTML format is supported), such as icons
      pre = ""
      # you can add extra information after the name (HTML format is supported), such as icons
      post = ""
      # LoveIt NEW | 0.2.5 whether to use typeit animation for title name
      typeit = false

  # LoveIt NEW | 0.2.0 App icon config
  [params.home.profile]
  enable = true
  avatarURL = ""
  subtitle = "<h1>minokubaのblog</h1>"
  typeit = false
  social = true  

  [params.app]
    # optional site title override for the app when added to an iOS home screen or Android launcher
    title = "xxxxx"
    # whether to omit favicon resource links
    noFavicon = false
    # modern SVG favicon to use in place of older style .png and .ico files
    svgFavicon = ""
    # Android browser theme color
    themeColor = "#ffffff"
    # Safari mask icon color
    iconColor = "#5bbad5"
    # Windows v8-10 tile color
    tileColor = "#da532c"

# Author config
[author]
  name = "minokuba"
  link = "http://twitter.com/minokuba"

# Menu config
[menu]
  [[menu.main]]
    weight = 1
    identifier = "posts"
    # you can add extra information before the name (HTML format is supported), such as icons
    pre = ""
    # you can add extra information after the name (HTML format is supported), such as icons
    post = ""
    name = "記事"
    url = "/posts/"
    # title will be shown when you hover on this menu link
    title = "1111"
  [[menu.main]]
    weight = 2
    identifier = "tags"
    pre = ""
    post = ""
    name = "タグ"
    url = "/tags/"
    title = "2222"
  [[menu.main]]
    weight = 3
    identifier = "categories"
    pre = ""
    post = ""
    name = "カテゴリ"
    url = "/categories/"
    title = "3333"
  [[menu.main]]
    weight = 10
    identifier = "Profile"
    pre = ""
    post = ""
    name = "自己紹介"
    url = "/profile"
    title = "4444"

# Markup related configuration in Hugo
[markup]
  # Syntax Highlighting (https://gohugo.io/content-management/syntax-highlighting)
  [markup.highlight]
    # false is a necessary configuration (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false

[outputs]
  home = ["HTML", "RSS", "JSON"]

[params.search]
  enable = false # lunrでの全文検索がうまく動かないのでいったんなし。
  # type of search engine ["lunr", "algolia"]
  type = "lunr"
  # max index length of the chunked content
  contentLength = 4000
  # placeholder of the search bar
  placeholder = ""
  # LoveIt NEW | 0.2.1 max number of results length
  maxResultLength = 10
  # LoveIt NEW | 0.2.3 snippet length of the result
  snippetLength = 30
  # LoveIt NEW | 0.2.1 HTML tag name of the highlight part in results
  highlightTag = "em"
  # LoveIt NEW | 0.2.4 whether to use the absolute URL based on the baseURL in search index
  absoluteURL = true

[params.social]
  GitHub = "direboar"
  Twitter = "minokuba"
  Twitch  = "yukari_0918"
  [params.social.x]
    # weight when arranging icons (the greater the weight, the later the icon is positioned)
    weight = 99
    # your social ID
    id = "minokuba"
    # prefix of your social link
    prefix = "https://note.com/"
    # content hovering on the icon
    title = "Notes"
    icon = {class = "far fa-sticky-note"}
